fastapi
uvicorn
jinja2

langchain
langchain-openai
langchain-community

pypdf
unstructured
pypandoc
unstructured[pdf]

faiss-cpu
chromadb

langchain-cohere
tiktoken

yfinance

crewai
crewai_tools
langchain_community

mistune